.c-slide {
    width: 100vw;
    height: 100vh;
}

.c-img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.caption{
    color: white;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

.content-about {
    margin: 3em 10em;
    font-size: 20px;
}
.content-about .menu{
    background-color: aquamarine;
}

/*Footer*/
.footer {
    margin-top: 20px;
    padding: 20px;
    color: azure;
    background-color: green;
}
