.c-slide {
    width: 100vw;
    height: 100vh;
}

.c-img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.caption {
    color: white;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}


.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    filter: blur(2px);
}

/*Footer*/
.footer {
    padding: 20px;
    color: azure;
    background-color: green;
}