@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

:root {
    --color1: #32502E;
    --color2: #406343;
    --color3: #ECE7B4;
    --color4: #F3EFCC;

}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*BG on index*/
.homehead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    /* text-shadow: 2px 2px 2px rgba(0,0,0,.2); */
}

.homehead-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.homehead-overlay h1 {
    font-size: 20ex;
    font-family: 'Dancing Script', cursive;
    color: var(--color3);
}

@media (max-width:768px) {
    .homehead {
        min-height: 100vh;
    }

    .homehead-overlay h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: calc(1.525rem + 5.3vw);

    }
}

.abouthead {
    background-size: cover;
    min-height: 40vh;
    position: relative;
    color: white;
    /* text-shadow: 2px 2px 2px rgba(0,0,0,.2); */
}

.abouthead-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.abouthead-overlay h1 {
    font-size: 10ex;
    font-family: 'Lobster', cursive;
    color: var(--color3);
}

@media (max-width:768px) {
    .abouthead {
        min-height: 100vh;
    }

    .abouthead-overlay h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: calc(1.525rem + 5.3vw);

    }
}



/*End Section of BG on index*/

/*Navbar*/
.navbar {
    transition: all 0.5s;
}

.navbar-brand h3 {
    color: white;
}

.navbar .navbar-nav .nav-item a {
    color: white;
}

.navbar .navbar-nav .nav-item .active {
    color: var(--color4);
}

.navbar-scrolled {
    background-color: var(--color2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--color3) !important;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--color3) !important;
    transition: color 0.3s ease-in-out;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 1);
}

.img-rest {
    width: 7cm;
    height: 15cm;
    object-fit: cover;

    @media (max-width:768px) {
        width: 4cm;
    }
}


.heading {
    font-size: 100px;
    font-family: 'Lobster', cursive;

    @media (max-width:768px) {
        font-size: 56px;
    }
}


.about {
    margin-top: 65px;
}

.capt {
    font-size: 20px;
    /* text-align: left; */
    line-height: 40px;
}

@media (max-width: 768px) {
    .navbar {
        background-color: var(--color2);
    }
}

/*End of Navbar*/

/*Carousel recomendation*/

.c-item {
    height: 18cm;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.moreabout {
    font-size: 20px;
}

/* Menu Card*/
.food-card {
    border-radius: 0px;
}

/* Plans Card */
.img-plans{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.img-plans2{
    max-height: 20cm;
    object-fit: cover;
    position: relative;
}

.food-card img {
    height: 7cm;
    object-fit: cover;
}

/* Plans card */
.card-body.meal-plans {
    border-radius: 0%;
    height: 180px;
}

/*Tabs on Category*/
.nav-colorfirst .nav-item a {
    color: white;
    font-size: 30px;
}

.nav-colorfirst .nav-item a:hover {
    color: var(--color3);
    transition: color 1s ease;
}

.nav-colorfirst .nav-item a.active {
    color: var(--color4);
    font-size: 30px;
    transition: all 1s;
    text-decoration: underline;
}

/*End of tabs*/

.fa-square {
    color: var(--color2);
}


/*Footer*/
.footer {
    color: white;
    background-color: var(--color2);
}

.social {
    color: white;
}