@import "tailwindcss";

@theme{ 
  --color-background: #FFFAF0;
  --color-primary: #5F8A42;
  --color-secondary: #86AD59;
  --color-accent: #E03F4F;
  --color-accent-dark: #C83F4F;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}
